.products {
    padding: 0 100px;
    &_title {
        font-size: 56px;
        line-height: 70px;
        font-weight: 500;
        margin-bottom: 20px;
    }

    &_info {
        display: flex;
        justify-content: space-between;

        &-subtitles {
            font-size: 20px;
            color: #555555;
            line-height: 32px;
            margin-bottom: 60px;
        }

        &-linker {
            display: flex;
            height: 30px;
            align-items: center;
            justify-content: center;
            gap: 8px;
            &-link {
                font-size: 24px;
                color: #222222;
                line-height: 30px;
                text-decoration: underline;
                font-weight: 500;
            }

            & img {
                width: 16px;
                height: 16px;
            }
        }
    }

    &_wrapper {
        margin: 40px 0;
    }

    &_tubs {
        &-list {
            flex-wrap: wrap;
            margin-top: 30px;
            display: flex;
            justify-content: center;
            gap: 15px;

            &-tub {
                font-size: 16px;
                border-radius: 10px;
                padding: 10px 25px;
                border: 1px solid #685a522a;
                transition: background-color 0.3s, color 0.3s;
                cursor: pointer;

                &:hover {
                    background-color: #402f2c;
                    color: #fff;
                    transition: background-color 0.3s, color 0.3s;
                }
            }
        }
    }

    &_list {
        display: flex;
        justify-content: center;
        gap: 80px;
        flex-wrap: wrap;
        &-item {
            width: 500px;
            border: 1px solid #685a522a;

            & img {
                width: 500px;
            }

            &-wrapper {
                padding: 0px 32px 32px 32px;
            }
            &-title {
                font-size: 40px;
                font-weight: 500;
                line-height: 60px;
                margin-top: 20px;
                margin-bottom: 16px;
            }

            &-subtitle {
                font-size: 20px;
                line-height: 32px;
                color: #555555;
                margin-bottom: 50px;
            }

            &-footer {
                display: flex;
                align-items: center;
                justify-content: space-between;
                &-buttons {
                    display: flex;
                    gap: 24px;
                }

                &-price {
                    font-size: 30px;
                    line-height: 32px;
                    font-weight: 500;
                }
            }
        }
    }
}

.products_tubs-list-tub.active {
    background-color: #402f2c;
    color: #fff;
}
