* {
    font-family: "Red Hat Display", sans-serif;
}

body {
    position: relative;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #ffffff;
}

::-webkit-scrollbar-thumb {
    background: #402f2c;
}

::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background: #311f1c;
}

.btn {
    padding: 16px 32px;
    font-size: 18px;
    line-height: 24px;
}

.btn-brown {
    background-color: #402f2c;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
        background-color: #222222;
        transition: background-color 0.3s, color 0.3s;
    }
}

.btn-light {
    background-color: #ffffff;
    color: #402f2c;
    border: 1px solid #685a522a;
    transition: background-color 0.3s, color 0.3s, border 0.3s;

    &:hover {
        background-color: #fff;
        border: 1px solid #402f2c;
        transition: background-color 0.3s, color 0.3s, border 0.3s;
    }
}

.btn-submit {
    margin-top: 20px;
    transition: background-color 0.3s, color 0.3s;
}

.main_button {
    margin-bottom: 109px;
    transition: background-color 0.3s, color 0.3s;
}

.search-btn {
    position: absolute;
    top: 8px;
    right: -22px;
    width: 32px;
    height: 32px;
}

.sub-btn {
    position: absolute;
    top: 8px;
    right: -22px;
    font-size: 14px;
    padding: 10px 16px;
    height: 32px;
}

a {
    text-decoration: none;
    color: #222222;

    &:hover {
        text-decoration: underline;
    }
}

.burger {
    display: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff; /* Колір фону заголовка */
}

.header_logo a {
    text-decoration: none;
    font-size: 24px;
    color: #000; /* Колір тексту логотипу */
}

.header_menu {
    display: flex;
    list-style-type: none;
}

.header_menu-item {
    margin: 0 15px;
}

.header_menu-item a {
    text-decoration: none;
    color: #000;
}

.header_icons {
    display: flex;
    list-style-type: none;
}

.header_icons-item {
    margin-left: 20px;
}

.burger {
    cursor: pointer;
}

.burger-overlay {
    visibility: hidden;
    transform: translateX(100%);
    position: fixed;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    background-color: rgba(247, 245, 244, 0.8);
    backdrop-filter: blur(7px);
    justify-content: center;
    align-items: center;
}

.burger-overlay.active {
    visibility: visible;
    transform: translateX(0);
    display: flex;
    transition: all 0.3s ease;
    z-index: 100;
}

.burger-nav {
    & ul {
        list-style: none;
        padding: 0;
    }
    & li {
        margin: 20px 0;
    }

    & a {
        color: #000000;
        text-decoration: none;
        font-size: 24px;
        transition: color 0.3s;

        &:hover {
            color: #f9c74f;
        }
    }
}

#backToTopBtn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
    background-color: #402f2c;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    z-index: 1;
    border: 1px solid #402f2c;
    transition: all 0.3s;

    &:hover {
        transition: all 0.3s;
        color: #402f2c;
        background-color: #ffffff;
        border: 1px solid rgb(180, 180, 180);
    }
}

@import "./layout/header";
@import "./layout/main";
@import "./layout/products";
@import "./layout/stat";
@import "./layout/beauty";
@import "./layout/reviews";
@import "./layout/footer";
@import "./layout/infinity";
@import "./layout/modal";
@import "./layout/reset";
@import "./layout/media";
