@charset "UTF-8";
* {
  font-family: "Red Hat Display", sans-serif;
}

body {
  position: relative;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #402f2c;
}

::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background: #311f1c;
}

.btn {
  padding: 16px 32px;
  font-size: 18px;
  line-height: 24px;
}

.btn-brown {
  background-color: #402f2c;
  color: #fff;
  transition: background-color 0.3s, color 0.3s;
}
.btn-brown:hover {
  background-color: #222222;
  transition: background-color 0.3s, color 0.3s;
}

.btn-light {
  background-color: #ffffff;
  color: #402f2c;
  border: 1px solid rgba(104, 90, 82, 0.1647058824);
  transition: background-color 0.3s, color 0.3s, border 0.3s;
}
.btn-light:hover {
  background-color: #fff;
  border: 1px solid #402f2c;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.btn-submit {
  margin-top: 20px;
  transition: background-color 0.3s, color 0.3s;
}

.main_button {
  margin-bottom: 109px;
  transition: background-color 0.3s, color 0.3s;
}

.search-btn {
  position: absolute;
  top: 8px;
  right: -22px;
  width: 32px;
  height: 32px;
}

.sub-btn {
  position: absolute;
  top: 8px;
  right: -22px;
  font-size: 14px;
  padding: 10px 16px;
  height: 32px;
}

a {
  text-decoration: none;
  color: #222222;
}
a:hover {
  text-decoration: underline;
}

.burger {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff; /* Колір фону заголовка */
}

.header_logo a {
  text-decoration: none;
  font-size: 24px;
  color: #000; /* Колір тексту логотипу */
}

.header_menu {
  display: flex;
  list-style-type: none;
}

.header_menu-item {
  margin: 0 15px;
}

.header_menu-item a {
  text-decoration: none;
  color: #000;
}

.header_icons {
  display: flex;
  list-style-type: none;
}

.header_icons-item {
  margin-left: 20px;
}

.burger {
  cursor: pointer;
}

.burger-overlay {
  visibility: hidden;
  transform: translateX(100%);
  position: fixed;
  top: 0;
  right: 0;
  width: 60%;
  height: 100%;
  background-color: rgba(247, 245, 244, 0.8);
  backdrop-filter: blur(7px);
  justify-content: center;
  align-items: center;
}

.burger-overlay.active {
  visibility: visible;
  transform: translateX(0);
  display: flex;
  transition: all 0.3s ease;
  z-index: 100;
}

.burger-nav ul {
  list-style: none;
  padding: 0;
}
.burger-nav li {
  margin: 20px 0;
}
.burger-nav a {
  color: #000000;
  text-decoration: none;
  font-size: 24px;
  transition: color 0.3s;
}
.burger-nav a:hover {
  color: #f9c74f;
}

#backToTopBtn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: none;
  background-color: #402f2c;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  z-index: 1;
  border: 1px solid #402f2c;
  transition: all 0.3s;
}
#backToTopBtn:hover {
  transition: all 0.3s;
  color: #402f2c;
  background-color: #ffffff;
  border: 1px solid rgb(180, 180, 180);
}

header {
  background-color: #f9f6f5;
}

.header {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  height: 80px;
  background-color: transparent;
  padding: 0 100px;
  justify-content: space-between;
}
.header_logo {
  font-size: 24px;
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;
  color: #222222;
}
.header_menu {
  display: flex;
  gap: 40px;
}
.header_menu-item {
  font-size: 16px;
  line-height: 20px;
  color: #222222;
}
.header_icons {
  display: flex;
  gap: 24px;
}
.main {
  padding-top: 40px;
  position: relative;
  background-color: #f9f6f5;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}
.main_info {
  z-index: 1;
  padding: 0 100px;
}
.main_title {
  font-size: 56px;
  font-weight: 500;
  width: 620px;
  margin-bottom: 30px;
}
.main_subtitle {
  font-size: 20px;
  line-height: 32px;
  width: 516px;
  color: #555555;
  margin-bottom: 30px;
}
.main_search {
  width: 326px;
  position: relative;
}
.main_search-input {
  width: 100%;
  height: 20px;
  border: none;
  padding: 14px 16px;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 60px;
}
.main_img {
  position: absolute;
  bottom: 0;
  right: 0;
}
.main_img img {
  width: auto;
  height: 600px;
  z-index: 0;
}

.products {
  padding: 0 100px;
}
.products_title {
  font-size: 56px;
  line-height: 70px;
  font-weight: 500;
  margin-bottom: 20px;
}
.products_info {
  display: flex;
  justify-content: space-between;
}
.products_info-subtitles {
  font-size: 20px;
  color: #555555;
  line-height: 32px;
  margin-bottom: 60px;
}
.products_info-linker {
  display: flex;
  height: 30px;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.products_info-linker-link {
  font-size: 24px;
  color: #222222;
  line-height: 30px;
  text-decoration: underline;
  font-weight: 500;
}
.products_info-linker img {
  width: 16px;
  height: 16px;
}
.products_wrapper {
  margin: 40px 0;
}
.products_tubs-list {
  flex-wrap: wrap;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 15px;
}
.products_tubs-list-tub {
  font-size: 16px;
  border-radius: 10px;
  padding: 10px 25px;
  border: 1px solid rgba(104, 90, 82, 0.1647058824);
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}
.products_tubs-list-tub:hover {
  background-color: #402f2c;
  color: #fff;
  transition: background-color 0.3s, color 0.3s;
}
.products_list {
  display: flex;
  justify-content: center;
  gap: 80px;
  flex-wrap: wrap;
}
.products_list-item {
  width: 500px;
  border: 1px solid rgba(104, 90, 82, 0.1647058824);
}
.products_list-item img {
  width: 500px;
}
.products_list-item-wrapper {
  padding: 0px 32px 32px 32px;
}
.products_list-item-title {
  font-size: 40px;
  font-weight: 500;
  line-height: 60px;
  margin-top: 20px;
  margin-bottom: 16px;
}
.products_list-item-subtitle {
  font-size: 20px;
  line-height: 32px;
  color: #555555;
  margin-bottom: 50px;
}
.products_list-item-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.products_list-item-footer-buttons {
  display: flex;
  gap: 24px;
}
.products_list-item-footer-price {
  font-size: 30px;
  line-height: 32px;
  font-weight: 500;
}

.products_tubs-list-tub.active {
  background-color: #402f2c;
  color: #fff;
}

.stat {
  background-color: #fdf8f5;
  margin: 130px 0;
  padding: 58px 175px;
}
.stat_list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.stat_list-item-title {
  font-size: 56px;
  line-height: 70px;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
  margin-bottom: 30px;
}
.stat_list-item-subtitle {
  font-size: 24px;
  line-height: 30px;
  color: #555555;
  text-align: center;
}

.beauty {
  display: flex;
  justify-content: center;
  gap: 80px;
  padding: 0 100px;
  margin-bottom: 130px;
}
.beauty_info-title {
  width: 520px;
  font-size: 56px;
  font-weight: 500;
  line-height: 70px;
  margin-bottom: 20px;
}
.beauty_info-description {
  width: 608px;
  font-size: 20px;
  line-height: 32px;
  color: #555555;
  margin-bottom: 50px;
}
.reviews {
  padding: 0px 100px;
  display: flex;
  justify-content: center;
  gap: 80px;
  align-items: center;
  margin-bottom: 130px;
}
.reviews_info {
  position: relative;
}
.reviews_info-title {
  font-size: 30px;
  line-height: 40px;
  font-weight: 500;
  margin-bottom: 12px;
}
.reviews_info-rate {
  margin-bottom: 43px;
}
.reviews_info-description {
  position: relative;
  font-size: 20px;
  line-height: 32px;
  color: #555555;
  margin-bottom: 80px;
}
.reviews_info-description::before {
  position: absolute;
  content: url("/kursova/assets/svg/openarrows.svg");
  top: -5px;
  left: -20px;
}
.reviews_info-description::after {
  position: absolute;
  content: url("/kursova/assets/svg/closearrows.svg");
  bottom: 5px;
}
.reviews_info-name {
  font-size: 30px;
  line-height: 40px;
  font-weight: 500;
}
.reviews_info-job {
  font-size: 20px;
  line-height: 32px;
  color: #555555;
}

.reviews-slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
}

.reviews {
  display: none;
  padding: 0px 100px;
  align-items: center;
}

.reviews.active {
  display: flex;
}

.reviews_img img {
  height: 511px;
  width: 538px;
  object-fit: contain;
}

.reviews_buttons-wrapper {
  bottom: -70px;
  position: absolute;
  display: flex;
  gap: 30px;
}

.prev {
  width: 30px;
  height: 30px;
  padding: 5px;
  background: none;
  color: #38b100;
}
.prev:hover {
  border-radius: 50%;
  border: 1px solid #38b100;
}

.next {
  width: 30px;
  height: 30px;
  padding: 5px;
  background: none;
  color: #38b100;
}
.next:hover {
  border-radius: 50%;
  border: 1px solid #38b100;
}

.footer {
  background-color: #fafafa;
  padding: 100px 100px 50px 100px;
}
.footer_info-top {
  display: flex;
  justify-content: space-between;
}
.footer_info-top-title {
  font-size: 36px;
  line-height: 46px;
  font-weight: 500;
}
.footer_info-hr {
  margin: 40px 0;
}
.footer_info-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 210px;
}
.footer_info-bottom-column-logo {
  font-size: 40px;
  line-height: 50px;
  text-decoration: underline;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 40px;
}
.footer_info-bottom-column-description {
  font-size: 18px;
  line-height: 32px;
  color: #555555;
  width: 326px;
}
.footer_info-bottom-column-title {
  font-weight: 500;
  line-height: 24px;
  font-size: 20px;
  color: #222222;
  margin-bottom: 40px;
}
.footer_info-bottom-column-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer_info-bottom-column-list-item {
  font-size: 16px;
  line-height: 20px;
  color: #222222;
}
.footer_info-bottom-column-list-item-imgs {
  display: flex;
  gap: 15px;
}
.footer_search {
  width: 326px;
  position: relative;
}
.footer_search-input {
  width: 100%;
  height: 20px;
  border: none;
  padding: 14px 16px;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 60px;
}
.footer_links-wrapper {
  display: flex;
  gap: 150px;
  justify-content: space-between;
}

.infinity {
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  margin: 130px 100px;
  padding: 0 100px;
  overflow: hidden;
  position: relative;
}
.infinity_list {
  margin: 40px 0;
  display: flex;
  justify-content: flex-start;
  gap: 10%;
  animation: scroll 20s linear infinite;
}

/* Анімація */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
  position: relative;
  background-color: #fff;
  margin: 2% auto;
  padding: 50px;
  border-radius: 8px;
  width: 60%;
  max-width: 900px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.modal-content-title {
  font-size: 40px;
  margin-bottom: 20px;
}
.modal-title {
  font-size: 20px;
  margin-bottom: 20px;
}
.modal-field {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 10px;
}
.modal-label {
  margin-bottom: 5px;
}
.modal-input {
  padding: 0px 10px;
  font-size: 18px;
  width: 300px;
  height: 40px;
  border: 1px solid rgba(104, 90, 82, 0.1647058824);
}

.input-accept {
  margin: 10px 10px 10px 0;
}

.user-comment {
  border: 1px solid rgba(104, 90, 82, 0.1647058824);
  padding: 10px;
  width: 400px;
  height: 150px;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 28px;
  color: #402f2c;
  font-weight: bold;
  cursor: pointer;
}

.no-scroll {
  overflow: hidden;
}

.accept-box {
  font-size: 16px;
}

body {
  font-family: "Roboto", Tahoma, sans-serif;
  color: var(--text-color);
  background-color: var(--basic-bgc);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

@media (max-width: 1348px) {
  .beauty_img img {
    width: 500px;
  }
}
@media (max-width: 1200px) {
  .main {
    justify-content: center;
  }
  .main_info {
    width: 100%;
  }
  .main_search {
    display: none;
  }
  .main_img {
    display: none;
  }
  .beauty {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .beauty_img {
    display: none;
  }
  .footer {
    padding: 70px;
  }
  .footer_info-bottom {
    justify-content: space-between;
  }
  .footer_search-input {
    display: none;
  }
}
@media (max-width: 1024px) {
  .burger {
    display: block;
  }
  .header_menu {
    display: none;
  }
  .main_img img {
    display: none;
  }
  .stat {
    padding: 40px;
  }
  .stat_list-item-title {
    font-size: 45px;
  }
  .stat_list-item-subtitle {
    font-size: 22px;
  }
  .products_info {
    flex-direction: column;
    align-items: baseline;
  }
  .products_info-subtitles {
    margin-bottom: 10px;
  }
  .products_info-linker {
    margin-bottom: 30px;
  }
  .beauty {
    flex-direction: column;
  }
  .footer_info-bottom-column-description {
    width: auto;
  }
  .footer_links-wrapper {
    gap: 70px;
  }
}
@media (max-width: 840px) {
  .main_title {
    width: auto;
  }
  .main_info {
    padding: 0 60px;
  }
  .reviews_img img {
    width: 400px;
  }
  .stat {
    padding: 40px;
  }
  .stat_list-item-title {
    font-size: 35px;
  }
  .stat_list-item-subtitle {
    font-size: 22px;
  }
  .footer_info-bottom {
    gap: 20px;
  }
  .footer_links-wrapper {
    align-self: start;
    gap: 50px;
  }
  .infinity {
    margin: 0;
    padding: 0;
  }
}
@media (max-width: 768px) {
  .header {
    padding: 0px 40px;
  }
  .main_subtitle {
    width: auto;
  }
  .products_list-item {
    width: 400px;
  }
  .products_list-item img {
    width: 400px;
  }
  .products_list-item-footer {
    flex-direction: column;
    gap: 30px;
  }
  .stat {
    padding: 40px;
  }
  .stat_list-item-title {
    font-size: 35px;
  }
  .stat_list-item-subtitle {
    font-size: 20px;
  }
  .beauty {
    flex-direction: column;
  }
  .beauty_info-title {
    width: auto;
  }
  .beauty_info-description {
    width: auto;
  }
  .reviews_img {
    display: none;
  }
  .footer_info-top {
    flex-direction: column;
    padding-bottom: 40px;
  }
  .footer_info-bottom {
    flex-direction: column;
    gap: 10px;
  }
  .sub-btn {
    margin-top: 15px;
    left: 10px;
    width: 250px;
    height: auto;
  }
  .modal-input {
    width: 100%;
  }
  .user-comment {
    width: auto;
  }
}
@media (max-width: 425px) {
  .header {
    padding-left: 15px;
  }
  .header_icons {
    gap: 5px;
  }
  .main_title {
    font-size: 40px;
  }
  .beauty {
    padding: 0px 20px;
  }
  .beauty_info-title {
    width: auto;
    line-height: 50px;
    font-size: 40px;
  }
  .reviews {
    padding: 0px 40px;
  }
  .products {
    padding: 40px;
  }
  .products_title {
    font-size: 46px;
  }
  .products_list-item {
    width: 300px;
  }
  .products_list-item img {
    width: 300px;
  }
  .stat {
    padding: 20px;
  }
  .stat_list {
    flex-direction: column;
  }
  .stat_list-item-title {
    margin: 0px 0px 10px 0px;
    font-size: 40px;
  }
  .stat_list-item-subtitle {
    font-size: 20px;
  }
  .footer {
    padding: 40px 20px;
  }
  .footer_links-wrapper {
    gap: 10px;
  }
  .modal-content-title {
    font-size: 35px;
  }
  .modal-input {
    width: 100%;
  }
}
@media (max-width: 320px) {
  .beauty {
    padding: 0px 20px;
  }
  .beauty_info-title {
    width: auto;
    line-height: 50px;
    font-size: 40px;
  }
  .footer {
    padding: 20px !important;
  }
  .footer_links-wrapper {
    gap: 20px !important;
  }
  .footer_info-top {
    flex-direction: column;
  }
  .footer_info-top-title {
    font-size: 30px;
  }
}/*# sourceMappingURL=styles.css.map */